<footer class="footer">
	<small>
		<a href="http://piconpunch.com/">Picon Punch Press, LLC</a>
			&bullet; 321 S Arlington Ave &bullet; Reno NV, 89501 
			&bullet; (775) 525-1345
	</small>
	<nav>
		<ul>
			<li><%= link_to "Home",       	root_path %></li>
			<li><%= link_to "Products",     products_path %></li>
			<li><%= link_to "Pubs", 				publications_path %></li>
			<li><%= link_to "About",    		about_path %></li>
			<li><%= link_to "Contact",  		contact_path %></li>
		</ul>
	</nav>
</footer>
